body,pre{
    font-size: 12px;
}

a{
    text-decoration: none; 
}
a:hover{
    text-decoration: none;
}
.list{
    font-size: 12px;;
}
.list li{
    padding: 6px;
}
.info{
    color: #080606;
    background-color: #FFF;
    border-color: #bce8f1;
    padding:14px;
    margin:10px 20px 0 8px;
    border-radius:5px;
}
.keyword{
    display:none;
}
.textshadow{
    text-shadow:0px 0px 1px #ccc
}

hr{
    margin-top: 10px;;
    margin-bottom: 0px;
}

.col-md-3{
    width: 20%;
}